:root {
    --grid-size: 40px;
}

.debug :focus {
  outline: 3px dotted green;
}

.debug * {
  outline: 1px solid red;
}

.debug #game-board {
    /* Other styles */
    background-image: linear-gradient(
      to right,
      black 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      black 1px,
      transparent 1px
    );
    background-size: var(--grid-size) var(--grid-size);
}

body {
    overflow-y: hidden;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: calc(10 * var(--grid-size));
    height: calc(20 * var(--grid-size));
    border: 1px solid black;
  
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
  }

.button {
    position: absolute;
    right: 0;
    width: 100px;
    height: 38px;
    font-size: 24px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px
}
.start.button {
    top: 0;
}
.pause.button {
    top: 42px;
}
  
 .button:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
  }
  
  /* When .paused is set on <body>, the pause button reads "Resume" */
  .pause.button .label {
    font-size: 0;
  }
  .pause.button .label::after {
    font-size: 24px;
    content: "Pause";
  }
  .paused .pause.button .label::after {
    content: "Resume";
  }


  #score {
    position: absolute;
    top: calc(38px * 2 + 4px * 3);
    right: 0;
    font-size: 24px;
    border-radius: 5px;
  }
  #score .label::after {
    content: ":";
  }

  
  @media (max-width: 600px) {
    #game-board {
      transform: scale(0.8);
    }
  }
  
  /*
  @media (min-width: 601px) {
    #game-board {
      width: 80%;
      height: 80%;
    }
  }
  */
  .block {
    width: var(--grid-size);
    height: var(--grid-size);
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .I {
    background-color: cyan;
  }
  
  .O {
    background-color: yellow;
  }
  
  .T {
    background-color: purple;
  }
  
  .S {
    background-color: lime;
  }
  
  .Z {
    background-color: red;
  }
  
  .J {
    background-color: blue;
  }
  
  .L {
    background-color: orange;
  }
  
